<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDesktopFolderUsageDescription</key>
	<string>SparkClean scans your Desktop for old screenshots to help reclaim disk space.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>SparkClean scans your Downloads folder for old files and installers to help reclaim disk space.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>SparkClean scans your Documents folder for old screenshots to help reclaim disk space.</string>
</dict>
</plist>
